<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxes</title>
    {% if '' in _color  %}
    {% set bg_color = '#9FC5F8' %}
    {% else %}
    {% set bg_color = _color %}
    {% endif %}

    <style>
        #wrap {
            display: inline-flex;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
        }

        .box {
            margin: 10px 10px;
            align-items: center;
            width: 200px;
            height: 200px;
            border: 2px black solid;
            background-color: blue;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome!</h1>
    <div id="wrap">
        {%for i in range(_num)%}
        <div class="box"></div>
        {%endfor%}
    </div>
</body>

</html>